#left-half {
    position: absolute;
    left: 0px;
    width: 49%;
}

#right-half {
    position: absolute;
    right: 0px;
    width: 49%;
}

#agent-title {
    color: #757575;
    text-align: center;
    font-size: xx-large;
}

#conference-title {
    color: #757575;
    text-align: center;
    font-size: xx-large;
}

#agent-content {
    font-size: larger;
    color: #000000;
    padding-left: 10px;
}

#conference-content {
    font-size: larger;
    color: #000000;
}

.vl {
    border-left: 2px solid #757575;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}